<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .head{
            width: 70%;
            margin: auto;
            margin-top: 70px;
        }
        ul{
            list-style: none;
        }
    </style>
</head>
<body>
    <a class="btn btn-primary" href="/authors" role="button">Back</a>
    <div class="head">
    <h1>{{ author.first_name}} {{author.last_name}}</h1>
    <h3>ID : {{author.id}}</h3>
    <p>Note : {{author.notes}}</p>
    <ul>
        Books :
        
          
            <ul>
              {% for book in author.books.all %}
                  
                <li><em>{{book.title}}</em></li>
              {% endfor %}
            </ul>
        
      </ul>
      <form action="/aut/{{author.id}}/add" method="POST">{% csrf_token %}
        <div class="form-group row">
          <div class="col-sm-2">
  
              <select name="author_select" >
                  {% for book in all_the_book %}
                  <option value="{{book.id}}">{{book.title}}</option>
                  {% endfor %}
                  
                </select>
          
          </div>
  
          <br> </br>
  
          
      </div>
      <div class="add">
          <button type="submit" class="btn btn-primary mb-2" name="add">Add</button>
      </div>
  </form>
</div>
    
</body>
</html>